.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: var(--white-color);

  &__link {
    color: var(--white-color);
    text-decoration: none;

    &:hover {
      color: var(--green-color);
    }
  }
}