:root {
  /* Border radius */
  --big-border-radius: 24px;
  --small-border-radius: 16px;

  /* Colors */
  --white-color: #fff;
  --white-2-color: #FAFAFA;
  --main-color: #F6F6F6;
  --blue-color: #1E4391;
  --blue-2-color: #0F2B5E;
  --blue-disabled-color: #5075C3;
  --red-color: #EF302B;
  --red-2-color: #C0231F;
  --ultra-light-grey-color: #2222220D;
  --background-blur-color: #00000066;
  --light-grey-color: #2222221F;
  --black-color: #222;
  --black-2-color: #2222220D;
  --black-3-color: #22222266;
  --green-color: #3BA68C;
  --green-2-color: #EDF7EB;

}