@use "../../Styles/map-page" as mapPage;

.container {
  @include mapPage.map-page-container;

  &__info {
    @include mapPage.map-page-info;
  }

  &__buttons {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    text-align: center;
    color: var(--blue-color);
  }

  &__checklist {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__map {
    @include mapPage.map-page-map;
  }
}

.map {
  width: 100%;
  height: 100%;
}

.mapMobileBtn {
  @include mapPage.map-mobile-btn;
}
