.button {
  background-color: var(--blue-light-color);
  border-radius: var(--radius-sm);
  color: var(--white-color);
  padding: 10px;
  font-family: Roboto, sans-serif;
  border: none;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
