


.page_card {
  margin: 0 auto;
  width: 60%;
  background-color: white;
  border-radius: 20px;
  padding: 15px;

  &:hover {
    cursor: pointer;
    transform: rotate(360);
  }
}


.page_card_img {
  width: 50px;
  color: white;
  background-color: rgb(13, 71, 137);
  border-radius: 10px;
  padding: 0px;
}

.page_card_counter {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
}

.page_card_top {
  display: flex;
  align-items: center;
  gap: 30px;
}

