


.page_card {
  background-color: rgba(30, 67, 145, 0.3);
  margin: 0 auto;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;

  &:hover {
    cursor: pointer;
  }
}

.page_card_img {
  width: 50px;
  color: white;
  background-color: rgb(13, 71, 137);
  border-radius: 10px;
  padding: 10px;
}

.page_card_counter {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
}

.page_card_top {
  display: flex;
  align-items: center;
  gap: 30px;
}

